.stock-details-container {
  /* display: flex; */
  justify-content: center; /* Centers content horizontally */
  margin: auto;
  max-width: 1200px;
  margin-top: 40px;
  /* border: 2px solid red; */
}

.detail-container {
  /* border: 2px solid red; */
  box-shadow: 0 4px 8px rgba(165, 165, 165, 0.216);
  padding: 0px 10px;
  .title {
    font-size: 27px;
    font-weight: 600;
    color: rgb(94, 94, 94);
  }
  .logo-title {
    height: 70px;
    width: 70px;
    /* border: 2px solid red; */
  }
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 21px;
    font-weight: 600 !important;
    color: rgb(94, 94, 94);
    /* border: 2px solid red; */
  }

  .watchlist-btn {
    border: 1px solid rgba(173, 173, 173, 0.668);
    border-radius: 8px;
    height: 30px;
    /* width: 70px; */
    padding: 0 7px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: bold;
    color: grey;
    cursor: pointer;
  }
}

.buy-sell-container {
  /* border: 1px solid grey; */
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 4px 8px rgba(184, 184, 184, 0.263);

  .input-section-buysell {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input-container-bs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  /* padding: 20px; */
}

.overview-container {
  margin-top: 40px;
}
.buy-sell-box {
  /* border: 2px solid red; */
  height: 92%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
}
